// Font family
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

// Reset the browser default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
$black-color: #000;
$white-color: #fff;
$normal-size: 16px;
$heading-size: 32px;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$cartCount: 20px;
html body {
  padding: 0;
  margin: 0;
  background-color: $white-color;
  color: $black-color;
  font-size: $normal-size;
  font-family: "Nunito", sans-serif;
  font-weight: $regular;
  overflow-x: hidden;
}
.custom__container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

  .card {
    margin-bottom: 24px;
    .card-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      min-height: 50px;
      cursor: pointer;
    }
  }
}

.page__header {
  padding: 1.5rem 0;

  .logo__image {
    min-height: 40px;
    a {
      max-width: 50%;
      display: inline-block;

      img {
        width: 100%;
      }
    }
  }

  .desktop__menu {
    align-self: center;
    min-height: 40px;
    .active-location {
      &.menu {
        a {
          &:before {
            width: 100%;
          }
        }
      }
    }
    a {
      color: $black-color;
      text-decoration: none;
      padding: 8px 12px;
      position: relative;
      display: inline-block;
      transition: all 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        background-color: $black-color;
        bottom: 0;
        left: 0;
        transition: width 0.3s ease-in-out;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }

  .navigation__icons {
    button {
      margin: 0 8px;
      svg {
        color: $black-color;
      }
    }
    .cart__count-wrap {
      position: relative;
    }
    .custom__loading {
      width: 15px;
      height: 15px;
      border-width: 2px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .cart__count {
      position: absolute;
      right: 0;
      top: -5px;
      background-color: rgb(217, 48, 18);
      min-height: $cartCount;
      min-height: $cartCount;
      max-height: $cartCount;
      max-width: $cartCount;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white-color;
    }
    .minicart__overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #00000050;
      top: 0;
      left: 0;
      z-index: -9;
      margin: 0;
      opacity: 0;
      transition: all 0.4s ease-in-out;
    }
    .cart__wrapper {
      position: fixed;
      max-width: 450px;
      width: 100%;
      height: 100%;
      right: -600px;
      top: 0;
      background-color: $white-color;
      box-shadow: -3px 0 5px -1px #33333340;
      z-index: 10;
      padding: 1rem;
      transition: all 0.4s ease-in-out;

      .heading {
        button {
          margin: 0;
        }
      }

      .cart__total-items {
        margin: 0;
        font-size: 14px;

        svg {
          font-size: 16px;
        }
      }
    }
  }

  .navigation__icons.mini-cart-open {
    .minicart__overlay {
      z-index: 9;
      opacity: 1;
    }
    .cart__wrapper {
      right: 0;
      z-index: 10;
    }
  }
}

body.mini-cart-open {
  overflow: hidden;
}
